<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>dev.kolabs.isim.dlopen-test.objc-plugin</string>
	<key>CFBundleExecutable</key>
	<string>ObjCPlugin</string>
	<key>CFBundleName</key>
	<string>ObjCPlugin</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>NSPrincipalClass</key>
	<string>ObjCPluginPrincipal</string>
</dict>
</plist>
